{% extends 'index.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="px-4 py-1 my-1">
        <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/newspaper.svg') }}" alt="" width="92" height="77">
        <div class="display-5 fw-bold text-body-emphasis text-center mb-3">{{ title }}</div>

        <form action="" method="post" class="row g-3">
            {{ form.hidden_tag() }} {# Вставляем скрытое поле для CSRF-защиты #}

            <!-- Поле почта -->
            <div class="row">
                <div class="col-sm-6">
                    {{ form.email_log.label(class="form-label") }}
                    <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        {{ form.email_log(class="form-control", placeholder="Ваше email") }}
                    </div>
                </div>
            </div>

            <!-- Поле пароль -->
            <div class="row">
                <div class="col-sm-6">
                    {{ form.pass_log.label(class="form-label") }}
                    <div class="input-group has-validation">
                        {{ form.pass_log(class="form-control", placeholder="Пароль") }}
                    </div>
                </div>
            </div>

            <!-- Поле чекбокса - запомнить -->
            <div class="row">
                <div class="col-12 py-2">
                    <div class="form-check">
                        {{ form.remember_me_log.label(class="form-label") }}
                        {{ form.remember_me_log(class="form-check-input", type="checkbox", value="True") }}
                    </div>
                </div>
            </div>

            <div class="col-12">
                <button class="btn btn-secondary" type="submit">Войти</button>
            </div>
        </form>
    </div>

{% endblock content %}

